
.page {
  position: relative;
}

input, textarea,
.upload-form__upload-input-container,
.bx-wrapper .bx-pager.bx-default-pager a,
.home-container span,
.btn,
.library__sort label {
  behavior: url(styles/PIE.htc);
}

input[type='radio'] {
  top: -3000px;
  left: -3000px;
}
