footer {
  background-color: $grey;
}
h4 {
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
}

footer a {
  color: $white;
  border-bottom:1px dashed $red;
}

.footer-items li,
.footer-items span{
  margin-bottom:5px;
}

.footer-container {
  max-width:1200px;
  min-height:150px;
  margin: 0 auto;
  font-size: 0px;
}

.footer-items {
  display: inline-block;
  vertical-align: top;
  width:25%;
  font-size:14px;
}

.social-media ul li{
  display: inline-block;
}

.social-icons {
  height: 30px;
  width: 30px;
  background-image: url('../../images/social2.png');
  background-repeat: no-repeat;
}
.twitter {
  background-position: -60px -30px;
}
.dribble {}
.facebook {
  background-position: -30px 0px;
}
.google-plus {
  background-position: -60px 0px;
}
.instagram {
  background-position: -90px 0px;
}
.linkedin {
  background-position: 0px -30px;
}
.pinterest {
  background-position: -30px -30px;
}
.vkontakte {
  background-position: -90px -30px;
}
.footer-items span {
  display: block;
}

@media screen and (max-width: $break-sm) {
  .footer-items {
    width:50%;
    text-align: center;
  }
}
