* {
  box-sizing: border-box;
}

body {
  background-color: $dirty-brown;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  max-width:1200px;
  margin:0 auto;
}

html {
  position: relative;
  min-height: 100%;
}
footer {
  display:none;
  position: absolute;
  left: 0;
  bottom: 0;
  height: auto;
  width: 100%;
}

label {
  display: block;
}
a {
  text-decoration: none;
}

input, textarea {
  border: none;
  border-radius: 10px;
  text-indent: 10px;
}

input:focus,
textarea:focus{
  outline: none;
}

.page {
  display: none;
}

.visible {
  display: block;
}
.bx-viewport {
  margin-left:5px;
}

//Buttons
.btn {
  color: $white;
  padding: 10px;
  border: none;
  text-align: center;
  display: inline-block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px
}

.blue-btn {
  background-color: $blue;
  webkit-box-shadow: 0px 5px 0px 0px darken($blue, 20%);
  -moz-box-shadow: 0px 5px 0px 0px darken($blue, 20%);
  box-shadow: 0px 5px 0px 0px darken($blue, 20%);
}

.blue-btn:hover {
  background-color: lighten($blue, 20%);
}

.blue-btn:active {
  background-color: $blue;
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 0px 0px 0px;
}

.green-btn {
  background-color: $green;
}

.red-btn {
  background-color: $badRed;
}

.input-error {
  background-color: $badRed;
  padding: 5px;
  display: inline-block;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

