* {
  box-sizing: border-box;
}

body {
  background-color: $dirty-brown;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  max-width:1200px;
  margin:0 auto;
  color: $white;
}

html {
  position: relative;
  min-height: 100%;
}
footer {
  display:none;
  position: absolute;
  left: 0;
  bottom: 0;
  height: auto;
  width: 100%;
}

label {
  display: block;
}
a {
  text-decoration: none;
}

input, textarea {
  border: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-indent: 10px;
}

input {
  height:30px;
  line-height: 30px;
}



input:focus,
textarea:focus{
  outline: none;
}

.page {
  display: none;
  margin: 20px 5px;
}

.visible {
  display: block;
}

.active-page-link {
  background-color: darken($red, 20%);
}

//bx-slider
.bx-viewport {
  margin-left:5px;
}

//Buttons
.btn {
  color: $white;
  padding: 10px;
  border: none;
  text-align: center;
  display: inline-block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.blue-btn {
  background-color: $blue;
  webkit-box-shadow: 0px 5px 0px 0px darken($blue, 20%);
  -moz-box-shadow: 0px 5px 0px 0px darken($blue, 20%);
  box-shadow: 0px 5px 0px 0px darken($blue, 20%);
}

.blue-btn:hover {
  background-color: lighten($blue, 20%);
}

.blue-btn:active {
  background-color: $blue;
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 0px 0px 0px;
}

.grey-btn {
  background-color: $grey;
  webkit-box-shadow: 0px 5px 0px 0px darken($grey, 20%);
  -moz-box-shadow: 0px 5px 0px 0px darken($grey, 20%);
  box-shadow: 0px 5px 0px 0px darken($grey, 20%);
}

.grey-btn:hover {
  background-color: lighten($grey, 20%);
}

.grey-btn:active {
  background-color: $grey;
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 0px 0px 0px;
}

.green-btn {
  background-color: $green;
}

.red-btn {
  background-color: $badRed;
}

.input-error {
  background-color: $badRed;
  text-align: center;
  padding: 5px;
  margin-top: 15px;
  width: 100%;
  display: inline-block;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

