body {
  background-color: $red;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  max-width:1200px;
  margin:0 auto;
}

label {
  display: block;
}

.page {
  display: none;
}

.visible {
  display: block;
}
